body{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 100px;
    background-color: #85969F;


}

.conteiner.logo{
    width: 30%;
}

.header{
    
    width: 100%;
    height: 100px;
    left: 50px;
    top: 300px;
    background: #080808;
    margin:auto;
}