.parte01 {
  background: linear-gradient(180deg, rgba(174, 224, 198, 0.774) 48.25%, rgba(117, 190, 133, 0.4524) 54.2%, rgba(233, 242, 235, 0.87) 94.06%, rgba(196, 224, 202, 0.87) 104.78%, rgba(112, 113, 118, 0.2871) 109.52%, rgba(72, 230, 106, 0.87) 114.3%, rgba(0, 0, 0, 0.1044) 120.84%);
  width: 100%;
  height: 100%;
  background-color: #85969F;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.box {
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.box-header1 {
  width: 100%;
  text-align: center;
  font-family: dosis;
  color: #FFDE59;
  font-size: 35px;
  font-weight:lighter;
  text-shadow: 
               -1px -1px 0px #0e0e0e, 
               -1px 1px 0px #000000,      
                1px -1px 0px #0e0d0d,    
                1px 0px 0px #0c0c0c;
  
  
}
.box-header2 {
  width: 100%;
  text-align: center;
  font-family: dosis;
  color: rgb(219, 169, 43);
  font-size: 25px;
  text-shadow: 
               -1px -1px 0px #0e0e0e, 
               -1px 1px 0px #000000,      
                1px -1px 0px #0e0d0d,    
                1px 0px 0px #0c0c0c;
  
}

.box-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-image {
  margin-top: 10px;
}

.box img {
  width: 300px;
  height: auto;
}

.box-text1{
  color: #020202;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

}
.box-text2{
  color: #775c37;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: dosis;
  font-style:oblique;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding-left: 15%;
  
  

}

@media only screen and (min-width: 768px) {
  .box-content {
    flex-direction: row;
    align-items: center;
  }

  .box-image {
    margin-top: 0;
    margin-left: 10px;
  
  }

  .box-content .box-text {
    text-align: left;
  }

  .box-content .box-image.align-left {
    order: -1;
  }
}